.navigation {
  width: 100%;
  display: flex;
}

.navigation__icon {
  background-color: rebeccapurple;
  width: 30px;
}
.navigation__element > a {
  text-decoration: none;
  color: inherit;
}

.navigation__icon-horizontal {
  font-size: 30px;
  color: white;
}

.navigation__right {
  right: 20px;
}
