.navigation__icon {
  position: absolute;
  right: 10px;
  top: 10px;
}
.navigation__element > a {
  text-decoration: none;
  color: inherit;
}

.navigation__icon-horizontal,
.navigation__icon-close {
  font-size: 40px !important;
  color: white;
}

.navigation__left {
  display: flex;
  top: 0;
  left: 0;
}

.navigation {
  position: relative;
  z-index: 999;
  width: 100%;
  display: flex;
  align-items: center;
  height: 100px;
}

.navigation__logo > a > img {
  width: 200px;
}

.full-width {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.95);
  overflow-y: hidden;
}

.navigation__right {
  position: absolute;
  list-style-type: none;
  font-size: 30px;
  text-align: center;
  padding: 0;
}

.navigation__right li {
  padding: 20px 0;
  color: white;
}

.menu-icon {
  font-size: 50px;
  text-align: right;
  color: black;
}

.menu-icon .close-icon {
  color: white;
}

.menu-icon svg {
  padding: 20px;
}

.breadcrumb,
.close-icon {
  cursor: pointer;
  background: none;
  font-size: 75px;
}

.disappear {
  display: none;
}

.appear {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}

.navigation__right li:hover {
  text-decoration: underline;
}

@media (max-width: 750px) {
  .breadcrumb,
  .close-icon {
    color: white;
    font-size: 65px;
  }

  .sidebar h1 {
    font-size: 20px;
  }

  .menu-list li a {
    font-size: 20px;
  }
}
