html,
body {
  margin: 0;
  padding: 0;
}

.app {
  text-align: center;
}
.app__browse_asteroids {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  flex-wrap: wrap;
  text-align: center;
}

.app__asteroid_div {
  width: 300px;
  display: block;
  margin: 10px;
  border: 1px solid white;
  padding: 5px;
}

.app__asteroid_div > img {
  object-fit: contain;
  width: 100px;
}
