html,
body {
  margin: 0;
  padding: 0;
}

.App__browse_asteroids {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  flex-wrap: wrap;
}

.App__asteroid_div {
  width: 300px;
  background-color: red;
  display: block;
  margin: 10px;
}

.App__asteroid_div > img {
  object-fit: contain;
  width: 100px;
}
